.Lbg1{
    background-image: url('https://wallpapers.com/images/hd/food-4k-jx0j7rqea6yv9phh.jpg');
    height: 92vh;
    width: 100%;
    background-size: cover;
    background-attachment: fixed;
    background-position: top;
}
.Lname{
    margin-top: 200px;
    font-family: "Fredericka the Great", serif;
    font-size: 80px;
}
.LbgBtn{
    padding-top: 125px;
}
/* .r1{
    justify-content: space-evenly;
} */
#Ldishes{
    background-color: #f2aa4cff;
}
.Ldish1:hover{
    width: 310px;
    height: 210px;
    transform: scale(1.05);
}
.Ldish1{
    width: 300px;
    height: 200px;
    transition: all 0.3s ease;
}