.Lbg1{
    background-image: url('https://wallpapers.com/images/hd/food-4k-jx0j7rqea6yv9phh.jpg');
    height: 92vh;
    width: 100%;
    background-size: cover;
    background-attachment: fixed;
    background-position: top;
}
.Lname{
    margin-top: 200px;
    font-family: "Berkshire Swash", serif;
    font-size: 100px;
}
.Lsname{
    margin-top: -15px;
    font-size: 20px;
}
.LbgBtn{
    padding-top: 125px;
}
#Ldishes{
    background-color: #f2aa4cff;
}
.Ldish1:hover{
    width: 310px;
    height: 210px;
    transform: scale(1.05);
}
.Ldish1{
    width: 300px;
    height: 200px;
    transition: all 0.3s ease;
}