#filled-basic1{
    background-color: white;
    border-radius: 5px;
    width: 300px;
}
.bg{
    background-color: black;
}
.icon{
    font-size: 55px;
    color: white;
    
}
/* .icon1{
    padding: 0px;
    font-size: 55px;
} */